**/.idea
**/.DS_Store
**/.ipynb_checkpoints
**/.mypy_cache
**/.pytest_cache/
**/.coverage/
**/.egg-info/

**/__pycache__
**/comm/conf

**/build
**/dist
**/data
**/core
**/cert
**/venv
**/log
**/bin
**/lib
**/obj
**/tmp
**/mod

*.lock
*.pyc
*.log
*.con
*.mod
*.gz
*.so
*.o




