<!DOCTYPE html>

<head>
    <title>SanicDemo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='miaowa/img/miaowa_32x32.png') }}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
</head>

<body>
    <h1>Hello, {{ user_name }}:{{ app_name }} !</h1><br/>
    <span>{{ f(user_address) }}</span><br/>
    <span>{{ f(user_address) | safe }}</span><br/>
    {% autoescape false %}
    <span>autoescape flase: {{ f(user_address) }}</span><br/>
    {% endautoescape %}
    <span>{{ e('[1,2,3]') }}</span>
</body>