<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Webpage</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='miaowa/img/miaowa_32x32.png') }}" type="image/x-icon" />
</head>

<body>
    <h1>Hello, {{ session.user_name }} - [{{ session.current_user.name }}]!!!</h1>
    <ul>
        {% for item in page_data.items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <script type="text/javascript" src="{{ url_for('static', filename='miaowa/js/hello.js' )}}"></script>
</body>

</html>